<div id="flashback-img-div">
<%= render :partial => "shared/navbar" %>

<div>
  <center><h1 style="color:red">Flashback Section</h1></center>
  <div class="col-lg-7">
    <center><h2>Flashbacks</h2></center>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><center>Post</center></th>
            <th>Posted by</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @flashbacks.each do |f| %>
              <tr>
                <td><%= f.title.capitalize %></td>
                <td><%= f.user.first_name.capitalize %> <%= f.user.last_name.capitalize %></td>
                <td><a href="/flashbackdetails/<%= f.id %>">Detail.</a></td>
              </tr>
        <% end %>
        </tbody>
      </table>
     </div> 
  </div>
  
  <div class="eventList">
    <div class="col-lg-4 pull-right">
      <center>
      <h3>Create a Posted</h3>
        <form action="/flashbacks" method="post" enctype="multipart/form-data">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name='flashback[user_id]' value="<%= session[:user_id] %>">
          <div class="form-group">
            <label>Title</label>
            <input name="flashback[title]" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="flashback[content]" class="form-control" rows="7"></textarea>
          </div>
          <div class="form-group">
            <label>File input</label>
            <input type="file" name="flashback[picture]">
            <p class="help-block">Upload your picture</p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </center>
    </div>
  </div>

</div>


