<div id="flashback-img-div">
<%= render :partial => "shared/navbar" %>
	<div class="detail_div">
		<center><h1 style="color: brown;margin: 3vh 20vw 0 20vw;"><%= @flashback.title.capitalize %></h1>
		<img class="img-responsive" style="width:20vw; height:25vh" src="<%= @flashback.picture.url %>">
		</center>
		<h2 style="margin: 3vh 22vw 0 22vw;">Posted By: <%= @flashback.user.first_name.capitalize %> <%= @flashback.user.last_name.capitalize %></h2>
		<center><p style="margin: 3vh 30vw 0 30vw;"><%= @flashback.content %></p></center>
		</br></br></br></br></br></br>
	</div>
</div>